<h1>Processador de Sugestões de Turmas > Resultado</h1>

<div class="well">
  Analise as possibilidades de reservas realizadas.
</div>

<hr>


<ul class= pager>
  <li class= "previous <%= "visible-hidden" if @page == 0%>">
    <%= link_to "← Página " + @page.to_s, class_suggestions_results_path(page: @page - 1)  %>
  </li>
  <li>
    Página <%= @page %>  de <%= @pages %>. <strong><%= @length %></strong> possibilidades encontradas. 
  </li>
  <li class= "next <%= "visible-hidden" if @page == @pages%>">
    <%= link_to "Página " + @next_page.to_s + " →", class_suggestions_results_path(page: @next_page) %>
  </li>
</ul>

<% @possibilities.each_with_index do |ps, i| %>
  <div class="row-fluid">
    <div class="span8">

      <div class="panel panel-default">
        <div class="panel-heading">
          Possibilidade <%= @page*5 + i + 1 %>
          - FATOR DE OPÇÕES ESCOLHIDAS:
          <%= ('%.2f' %  (ps["preference_coefficient"])).gsub('.', ',') %>
        </div>
        <div class="panel-body">
          <% ps["result"].each_with_index do |suggestions, j| %>
            <p>
              <strong>Disciplina</strong>
              <%= @classes[j]["acronym"] %>
              <%= @classes[j]["code"] %>
              <%= @classes[j]["name"]  %>
              <strong>Turma:</strong> <%= @classes[j]["class_number"] %>
              -
              <strong>Professor(es):</strong> <%= @classes[j]["teachers"].join(", ") %>
            </p>
            <p>
              <strong>Prioridade:</strong> <%= suggestions["preference"] + 1%>
              <% suggestions["room"].each do |room| %>
                <ul>
                  <li>
                    <strong>Sala:</strong> <%= room["code"] %>
                    <strong>Horário:</strong> <%= room["hours"] %>
                  </li>
                </ul>
                <% end %>
            </p>
            <% unless j == ps["result"].length - 1 %>
              <hr>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="span4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Ocupação das Salas -
          <div class="pull-right">
            <%= ('%.2f' % ps["occupation_coefficient"]["percentage"]).gsub('.', ',') %>%
          </div>
        </div>
        <div class="panel-body">
          <ul>
            <% ps["room_allocation_coefficient"].each do |code, stats| %>
              <li><strong><%= code %>:</strong> <div class="pull-right"><%=  ('%.2f' %  stats["percentage"]).gsub('.', ',') %>% </div></li>
              <p><%= stats["used_hours"] %> de <%= stats["total_hours"] %> horários disponíveis</p>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
<% end %>


<ul class= pager>
  <li class= "previous">
    <%= link_to "← Voltar", classes_suggestions_path  %>
  </li>
</ul>
