<%= simple_form_for(@user_place) do |f| %>
  <% if @user_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_place.errors.count, "error") %> impediu o salvamento desta Sala de Servidor:</h2>

      <ul>
      <% @user_place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr>
  <div class="form-inputs">
    <%= f.input :code %>
    <%= f.association :user %>
  </div>
  </br>
  <%= f.button :submit, "OK", class:"btn btn-success" %>
<% end %>
