<h1>Salas de Servidores</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Código</th>
      <th>Servidor</th>
      <th>Departamento</th>
      <th colspan="2">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @user_places.each do |user_place| %>
      <tr>
        <td><%= user_place.code %></td>
        <td><%= link_to user_place.user.name, user_place.user %></td>
        <td><%= link_to user_place.sector.name, user_place.sector %></td>
        <td><%= link_to 'Detalhes', user_place %></td>
        <td><%= link_to 'Excluir', user_place, method: :delete, data: { confirm: 'Você tem certeza que deseja deletar esta sala?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Nova Sala de Servidor', new_user_place_path, class:"btn btn-success" %>