<li><%= link_to 'Inicio', dashboard_path %></li>
<li><%= link_to 'Checar Reservas', check_reservations_path(filter_by: "future")  %></li>
<li><%= link_to 'Checar Reservas Múltiplas', check_group_reservations_path %></li>
<li><%= link_to 'Reservas Simples', reservations_path(filter_by: "future")  %></li>
<li><%= link_to 'Reservas Múltiplas', reservation_groups_path %></li>
<li><%= link_to 'Usuários', users_path %></li>
<li><%= link_to 'Salas', places_path %></li>
<li><%= link_to 'Setores', sectors_path %></li>
<li><%= link_to 'Tipos de Sala', room_types_path %></li>
<li><%= link_to 'Objetos', object_resources_path %></li>
