<li><%= link_to 'Inicio', dashboard_path %></li>
<li><%= link_to 'Minhas Reservas', reservations_path(filter_by: "future")  %></li>
<li><%= link_to 'Minhas Reservas Múltiplas', reservation_groups_path %></li>
<li><%= link_to 'Meu Perfil', profile_path %></li>
<li><%= link_to 'Salas', places_path %></li>
