<li><%= link_to 'Inicio', dashboard_path %></li>
<li>
  <%= link_to check_reservations_path(filter_by: "future") do  %>
  Checar Reservas <span class="badge pull-right"><%= @pending_counter %></span>
  <% end %>
</li>
<li>
  <%= link_to check_group_reservations_path(filter_by: "future") do  %>
  Checar Reservas
  <br>
  Múltiplas  <span class="badge pull-right "><%= @pending_group_counter %></span>
  <% end %>
</li>
<li><%= link_to 'Mapa de Salas', map_show_path %></li>
<li><%= link_to 'Reservas Simples', reservations_path(filter_by: "future") %></li>
<li><%= link_to 'Reservas Múltiplas', reservation_groups_path %></li>
<li><%= link_to 'Meu Perfil', profile_path %></li>
<li><%= link_to 'Salas', places_path %></li>
<li><%= link_to 'Usuários', users_path %></li>
