<li class="menu-title">SALAS</li>

<li>
  <%= link_to check_reservations_path(filter_by: "future") do  %>
  Checar Reservas <span class="badge pull-right"><%= @pending_counter %></span>
  <% end %>
</li>
<li>
  <%= link_to check_group_reservations_path(filter_by: "future") do  %>
  Checar Reservas
  <br>
  Múltiplas  <span class="badge pull-right "><%= @pending_group_counter %></span>
  <% end %>
</li>
<li><%= link_to 'Reservas Simples', reservations_path(filter_by: "future")  %></li>
<li><%= link_to 'Reservas Múltiplas', reservation_groups_path %></li>
<li><%= link_to 'Salas', places_path %></li>
<li><%= link_to 'Mapa de Salas', map_show_path %></li>
<li><%= link_to 'Tipos de Sala', room_types_path %></li>

<li class="menu-title">VEÍCULOS</li>

<li><%= link_to 'Reservas de Veículos', vehicle_reservations_path(filter_by: "future") %></li>
<li><%= link_to 'Veículos', vehicles_path %></li>
<li><%= link_to 'Motoristas', drivers_path %></li>

<li class="menu-title">OUTROS</li>

<li><%= link_to 'Usuários', users_path %></li>
<li><%= link_to 'Objetos', object_resources_path %></li>
<li><%= link_to 'Setores', sectors_path %></li>
<li>
  <%= link_to whats_new_path do  %>
  Novidades <span class="badge pull-right ">NOVO</span>
  <% end %>
</li>
