<h2>Nova Reserva Múltipla</h2>

<%= simple_form_for(:reservation_group_form, url: reservation_groups_path ) do |f| %>
  <div class= "well">
    <p>Cada bloco de reservas possui um começo, fim e horário comum para todos os dias marcados.</p>
    <p>Caso deseje marcar em múltiplas reservas horários distintos, crie um outro bloco com o novo horário.</p>
  </div>

  <%= f.input :name, label: "Título da Reserva" %>

  <%= f.input :place_id, as: :grouped_select, collection: Place.grouped_by_type, group_method: :last, option_key_method: :name, label_method: :full_name, option_value_method: :id, group_label_method: :first, input_html: { class: 'chosen-select', data: { placeholder: "Selecione uma sala" } ,id: 'place_selector'} %>
  <!--<%= f.input :place_id, label: "Sala" , as: :grouped_select, collection: Place.grouped_by_type, group_method: :last, option_key_method: :name, label_method: :full_name, option_value_method: :id, group_label_method: :first, input_html: { class: 'chosen-select', data: { placeholder: "Selecione uma sala" } ,id: 'place_selector'} %>
  -->
  <br>
  <%= f.input :reason, as: :text, label: "Motivo" %>
  <br>

  <%= f.input :notes, as: :text, label: "Observações" %>

  <div class="multi-field-wrapper span6">
    <div class="multi-fields">
    </div>

    <button type="button" class="add-field btn btn-small btn-primary">Adicionar Bloco de Reserva</button>

  </div>

  <div class="clear">

  <%= f.button :submit,"SALVAR RESERVA", class:"btn btn-success" %>

  <script id="repetitions_fields" type="text/x-handlebars-template">
    <div class="multi-field panel">

      <div class= "panel panel-info">
        <p class= "panel-heading">Data</p>
        <p class= "inline_form">
          <%= f.input "repetitions[{{number}}][begin_date]", as: :date_picker, label: "De", label_html: { class: 'inline_label' } %>
        </p>
        <%= f.input "repetitions[{{number}}][end_date]", as: :date_picker, label: "Até", label_html: { class: 'inline_label' } %>
      </div>

      <div class= "panel panel-info">
        <p class= "panel-heading">Horário</p>
        <%= f.input "repetitions[{{number}}][begin_time]", as: :time_picker, label: "Início", label_html: { class: 'inline_label' } %>
        <%= f.input "repetitions[{{number}}][end_time]", as: :time_picker, label: "Fim", label_html: { class: 'inline_label' } %>
      </div>

      <div class= "panel panel-info">
        <p class= "panel-heading">Dias</p>
        <%= f.collection_check_boxes "repetitions[{{number}}][weekly_repeat]", [[0, 'Domingo'], [1, 'Segunda'], [2, 'Terça'],  [3, 'Quarta'], [4, 'Quinta'], [5, 'Sexta'], [6, 'Sábado']], :first, :last, :item_wrapper_class => 'inline_label' %>
        <br>
        <br>
        <br>
      </div>
      <button class="remove-field btn btn-small btn-danger">Remover Bloco</button>
      <br>
    </div>
  </script>

<% end %>

<script type="text/javascript">
  var number = 0;
  var $wrapper = $('.multi-field-wrapper .multi-fields');

  var ready = function() {
    addField();

    $(".add-field", $(this)).click(function(e) {
      number += 1;
      addField($wrapper);
    });
  };

  $(document).ready(ready);
  $(document).on('page:load', ready);

  function bindEvents() {
    $('.datetimepicker').datetimepicker({
      pickSeconds: false
    });

    $('.timepicker').datetimepicker({
      pickDate: false,
      pickSeconds: false
    });

    $('.datepicker').datetimepicker({
      pickTime: false
    });

    $('.multi-field .remove-field', $wrapper).click(function() {
      removeField($wrapper, this);
    });
  }

  function addField(wrapper) {
    var source = $('#repetitions_fields').html();

    if (!source)
      return;

    var template = Handlebars.compile(source);
    var html = template({number: number});

    $wrapper.append(html);
    bindEvents();
  }

  function removeField(wrapper, button) {
    if ($('.multi-field', wrapper).length > 1)
      $(button).parent('.multi-field').remove();
  }

</script>
