<%= @reservation_group.message %>

<h2>Detalhes de Reserva Múltipla</h2>

<%= @reservation_group.edit_link %>
<%= @reservation_group.approve_link %>
<%= @reservation_group.suspend_link %>
<%= @reservation_group.reject_link %>
<%= @reservation_group.cancel_link %>


<hr>

<table class = "table">
  <thead>
    <tr>
      <th class ="table-title" colspan="2">
        Título: <%=link_to @reservation_group.name, @reservation_group%>
      </th>
      <th>Código:</th><td><%=@reservation_group.id%></td>
    </tr>
    <tr>
      <th>Solicitante:</th><td><%=@reservation_group.user%></td>
      <th>Situção:</th><td><%=@reservation_group.status%></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Local(is):</th>
      <td><%=@reservation_group.places%></td>
      <th>Autorizado a pegar a chave:</th>
      <td><%=@reservation_group.responsible%></td>
    </tr>
    </tr>
      <th>Início:</th>
      <td><%=@reservation_group.begin_date%></td>
      <th>Fim:</th>
      <td><%=@reservation_group.end_date%></td>
    <tr>
      <th>Conflita?</th>
      <td><%=@reservation_group.has_conflicts?%></td>
      <th>Dias da semana:</th>
      <td colspan="3"><%=@reservation_group.days%></td>
    </tr>
    <tr>
      <th>
        Motivo:
      </th>
      <td colspan="3">
        <%=@reservation_group.reason%>
      </td>
    </tr>
  </tbody>
</table>
<table class= "table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class= "table-title" colspan="3">Reservas Contidas nesta Reserva Múltipla</th>
    </tr>
      <th>Data</th>
      <th>Dia</th>
      <th>Início</th>
      <th>Fim</th>
      <th>Local</th>
      <th>Conflita?</th>
      <th>Situação</th>
      <th>Ações</th>
    </tr>
  </thead>
    <% ReservationDecorator.decorate_collection(@reservation_group.reservations.order(:date)).each do |reservation|%>
      <tr class="<%= reservation.conflict_class %>">
        <td><%= reservation.date %></td>
        <td><%= reservation.week_day %></td>
        <td><%= reservation.begin_time %></td>
        <td><%= reservation.end_time %></td>
        <td><%= reservation.place %></td>
        <td><%= reservation.has_conflicts? %></td>
        <td><%= reservation.status %></td>
        <td><%= link_to 'Detalhes', reservation,  class: "btn-small btn-normal" %>
          <%= reservation.approve_link %>
          <%= reservation.suspend_link %>
          <%= reservation.reject_link %>
          <%= reservation.delete_link %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Histórico da Reserva</h2>

<% unless @reservation_group.versions.length == 0 %>
  <% @reservation_group.versions.order(:created_at).reverse.each do |v| %>

    <% user = User.find(v.whodunnit) %>
    <% attributes = {"name" => "Título", "status" => "Situação", "requester" => "Solicitante", "reason" => "Motivo", "responsible"=>"Autorizado a pegar a chave", "notes" => "Observações"} %>
    <% values = {""=> "--", "pending" => "Pendente", "approved" => "Aprovada", "canceled" => "Cancelada", "rejected"=>"Rejeitada", "partially approved"=> "Parcialmente Aprovada", "partially rejected"=> "Parcialmente Rejeitada", "partially pending"=> "Parcialmente Pendente"} %>

    <div class="container">
      <div class="row no-padding">
        <div class="panel span8">
          <div class="panel-heading">
            Alteração em <%= v.reify.updated_at.strftime("%d/%m/%Y - %H:%M") %> por <%= link_to user.name, user%>
          </div>
          <div class="panel-body">
            <% v.changeset.each do |change| %>
              <% if  change[0] == "confirmed_at"%>
              <strong>Reserva salva</strong><br>
              <% elsif  change[0] != "updated_at"%>
                <strong><%= attributes[change[0]] %></strong> mudou de "<%= values[change[1][0]] || change[1][0]%>" para "<%= values[change[1][1]] || change[1][1]%>" <br>
                <!-- <%= change.inspect %> -->
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

<% else %>
  <h4>Não foram feitas alterações na reserva desde sua criação.</h4>
<% end %>

<%= @reservation_group.save_button %>
<%= @reservation_group.new_reservation_button %>
<%= render "shared/back"%>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
