<h2>Detalhes de Reserva Múltipla</h2>

<%= @reservation_group.approve_link %>
<%= @reservation_group.suspend_link %>
<%= @reservation_group.reject_link %>


<hr>

<table class = "table">
  <thead>
    <tr>
      <th class ="table-title" colspan="2">
        Título: <%=link_to @reservation_group.name, @reservation_group%>
      </th>
      <th>Situção:</th><td><%=@reservation_group.status%></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Local:</th>
      <td colspan="3"><%=@reservation_group.place%></td>
    </tr>
    </tr>
      <th>Início:</th>
      <td><%=@reservation_group.begin_date%></td>
      <th>Fim:</th>
      <td><%=@reservation_group.end_date%></td>
    <tr>
      <th>Dias da semana:</th>
      <td colspan="3"><%=@reservation_group.days%></td>
    </tr>
  </tbody>
</table>
<table class= "table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class= "table-title" colspan="3">Reservas Contidas nesta Reserva Múltipla</th>
    </tr>
      <th>Data</th>
      <th>Dia</th>
      <th>Início</th>
      <th>Fim</th>
      <th>Local</th>
      <th>Conflita?</th>
      <th>Situação</th>
      <th>Ações</th>
    </tr>
  </thead>
    <% ReservationDecorator.decorate_collection(@reservation_group.reservations).each do |reservation|%>
      <tr>
        <td><%= reservation.date %></td>
        <td><%= reservation.week_day %></td>
        <td><%= reservation.begin_time %></td>
        <td><%= reservation.end_time %></td>
        <td><%= reservation.place %></td>
        <td><%= reservation.has_conflicts? %></td>
        <td><%= reservation.status %></td>
        <td><%= link_to 'Detalhes', reservation,  class: "btn-small btn-normal" %>
          <%= reservation.approve_link %>
          <%= reservation.suspend_link %>
          <%= reservation.reject_link %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "shared/back"%>
