<h2>Detalhes de Reserva Múltipla</h2>

<%= @reservation_group.edit_link %>
<%= @reservation_group.approve_link %>
<%= @reservation_group.suspend_link %>
<%= @reservation_group.reject_link %>
<%= @reservation_group.cancel_link %>

<%= @reservation_group.message %>

<hr>

<table class = "table">
  <thead>
    <tr>
      <th class ="table-title" colspan="3">
        Título: <%=link_to @reservation_group.name, @reservation_group%>
      </th>
    </tr>
    <tr>
      <th>Solicitante:</th><td><%=@reservation_group.user%></td>
      <th>Situção:</th><td><%=@reservation_group.status%></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Local:</th>
      <td><%=@reservation_group.place%></td>
      <th>Autorizado a pegar a chave:</th>
      <td><%=@reservation_group.responsible%></td>
    </tr>
    </tr>
      <th>Início:</th>
      <td><%=@reservation_group.begin_date%></td>
      <th>Fim:</th>
      <td><%=@reservation_group.end_date%></td>
    <tr>
      <th>Conflita?</th>
      <td><%=@reservation_group.has_conflicts?%></td>
      <th>Dias da semana:</th>
      <td colspan="3"><%=@reservation_group.days%></td>
    </tr>
    <tr>
      <th>
        Motivo:
      </th>
      <td colspan="3">
        <%=@reservation_group.reason%>
      </td>
    </tr>
  </tbody>
</table>
<table class= "table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class= "table-title" colspan="3">Reservas Contidas nesta Reserva Múltipla</th>
    </tr>
      <th>Data</th>
      <th>Dia</th>
      <th>Início</th>
      <th>Fim</th>
      <th>Local</th>
      <th>Conflita?</th>
      <th>Situação</th>
      <th>Ações</th>
    </tr>
  </thead>
    <% ReservationDecorator.decorate_collection(@reservation_group.reservations.order(:date)).each do |reservation|%>
      <tr class="<%= reservation.conflict_class %>">
        <td><%= reservation.date %></td>
        <td><%= reservation.week_day %></td>
        <td><%= reservation.begin_time %></td>
        <td><%= reservation.end_time %></td>
        <td><%= reservation.place %></td>
        <td><%= reservation.has_conflicts? %></td>
        <td><%= reservation.status %></td>
        <td><%= link_to 'Detalhes', reservation,  class: "btn-small btn-normal" %>
          <%= reservation.approve_link %>
          <%= reservation.suspend_link %>
          <%= reservation.reject_link %>
          <%= reservation.delete_link %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= @reservation_group.save_button %>
<%= @reservation_group.new_reservation_button %>
<%= render "shared/back"%>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
