<h2>Detalhes de Reserva Múltipla</h2>


  <div class= "reservations span7" >
    <table class = "table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th class ="table-title" colspan="4">
            Título: <%=link_to @reservation_group.name, @reservation_group%>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Local:</th>
          <td colspan="3"><%=@reservation_group.place%></td>
        </tr>
        </tr>
          <th>Início:</th>
          <td><%=@reservation_group.begin_date%></td>
          <th>Fim:</th>
          <td><%=@reservation_group.end_date%></td>
        <tr>
          <th>Dias da semana:</th>
          <td colspan="3"><%=@reservation_group.days%></td>
        </tr>
        <tr>
          <th>Situção:</th><td><%=@reservation_group.status%></td>
          <th>Ações</th>
          <td><%= link_to 'Detalhes', @reservation_group,  class: "btn-small btn-normal" %></td>
        </tr>
        <tr>
          <th>Data</th>
          <th>Dia</th>
          <th>Início</th>
          <th>Fim</th>
          <th>Local</th>
          <th>Situação</th>
          <th>Ações</th>
        </tr>
        <% ReservationDecorator.decorate_collection(@reservation_group.reservations).each do |reservation|%>
          <tr>
            <td><%= reservation.date %></td>
            <td><%= reservation.week_day %></td>
            <td><%= reservation.begin_time %></td>
            <td><%= reservation.end_time %></td>
            <td><%= reservation.place %></td>
            <td><%= reservation.status %></td>
            <td><%= link_to 'Detalhes', reservation,  class: "btn-small btn-normal" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
