<%= simple_form_for(@sector) do |f| %>
  <% if @sector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sector.errors.count, "error") %> prohibited this sector from being saved:</h2>

      <ul>
      <% @sector.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
  </div>
  </br>
  <%= f.button :submit, "OK", class:"btn btn-success" %>

  <hr>
<% end %>
