<h1>Listando Setores</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @sectors.each do |sector| %>
      <tr>
        <td><%= link_to sector.name, sector %></td>
        <td><%= sector.description %></td>
        <td><%= link_to 'Detalhes', sector, class: 'btn btn-info btn-small' %>
        <%= link_to 'Editar', edit_sector_path(sector), class: 'btn btn-primary btn-small' %>
        <%= link_to 'Excluir', sector, method: :delete, data: { confirm: 'Você tem certeza que deseja deletar este Departamento?' }, class: 'btn btn-danger btn-small' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Setor', new_sector_path,class:"btn btn-success" %>
