<%= simple_form_for(@user) do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this sector from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :name, :required => true %>
    <%= f.input :cpf, :required => true %>
    <%= f.input :role, collection: %w(admin sector_admin secretary basic), input_html: { class: 'chosen-select',  data: { placeholder: "Selecione uma função" } }, required: true %>
    <br>
    <%= f.association :sector, input_html: { class: 'chosen-select', data: { placeholder: "Selecione uma setor" } }, :required => true %>
    <br>
  </div>

  <%= f.button :submit, "OK", class:"btn btn-success" %>
<% end %>

<%= render 'shared/back'%>  