<h1>Usuários</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Setor</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to user.sector.name, user %></td>
        <td>
          <%= link_to 'Detalhes', user, class: "btn-small btn-info" %>
          <%= link_to 'Editar', edit_user_path(user), class: "btn-small btn-primary" %>
          <%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Você tem certeza que deseja deletar este usuário?' }, class: "btn-small btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Novo Usuário', new_user_path, class:"btn btn-success" %>