<h1>Usuários sob minha Administração</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Função</th>
      <th>Setor(es)</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td><%= user.pt_role %></td>
        <td>
          <ul>
            <%  user.sectors.each do |sector|%>
              <li><%= link_to sector.name, sector%></li>
            <%end %>
          </ul>
        </td>
        <td>
          <%= link_to 'Detalhes', user, class: "btn-small btn-normal" %>
          <%= link_to 'Editar', edit_user_path(user), class: "btn-small btn-normal" %>
          <%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este usuário?' }, class: "btn-small btn-normal" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Novo Usuário', new_user_path, class:"btn btn-success" %>
