<h1>Detalhes do Usuário</h1>
<%= link_to 'Editar Informações deste Usuário', edit_user_path(@user), class:"btn-small btn-primary"%> 
<%= link_to 'Excluir Usuário', @user, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este usuário?' }, class: "btn-small btn-danger" %>

<hr>

<dl>
  <dt>Nome:</dt> <dd><%= @user.name %></dd>
  <dt>E-mail:</dt> <dd><%= @user.email %></dd>
  <dt>Função:</dt> <dd><%= @user.role%></dd>
  <dt>CPF:</dt> <dd><%= @user.cpf %></dd>
  <dt>Setor:</dt> <dd><%= link_to @user.sector.name, @user.sector%></dd>
</dl>

<hr>

<h2>Reservas deste Usuário</h2>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Data</th>
        <th>Início</th>
        <th>Fim</th>
        <th>Local</th>
        <th>Situação</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <% unless @reservations.count == 0 %>
        <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.date %></td>
            <td><%= reservation.begin_time %></td>
            <td><%= reservation.end_time %></td>
            <td><%= reservation.place %></td>
            <td><%= reservation.status %></td>
            <td><%= link_to 'Detalhes', reservation,  class: "btn-small btn-info" %></td>
          </tr>   
      <%end%>  
      <% else %>
        <tr>
          <th colspan="6">Este usuário ainda não realizou reservas.</th>
        </tr>
    <% end %>
    </tbody>
  </table>



<%= render 'shared/back'%>
