<h1>Detalhes da Reserva de Veículo</strong></h1>


<%= @vehicle_reservation.approve_link%>
<%= @vehicle_reservation.suspend_link%>
<%= @vehicle_reservation.reject_link%>
<%= @vehicle_reservation.cancel_link%>


<h3>Dados Gerais</h3>
<p>
  <strong>Data:</strong> <%= @vehicle_reservation.date%>
</p>
<p>
  <strong>Início:</strong> <%= @vehicle_reservation.begin_time%>
</p>
<p>
  <strong>Fim:</strong> <%= @vehicle_reservation.end_time%>
</p>
<p>
  <strong>Veículo:</strong> <%= @vehicle_reservation.vehicle%>
</p>
<p>
  <strong>Motivo:</strong> <%= @vehicle_reservation.reason %>
</p>
<p>
  <strong>Participantes:</strong> <%= @vehicle_reservation.passengers %>
</p>


<hr>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
