<h1>Listando Tipos de Sala</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @room_types.each do |room_type| %>
      <tr>
        <td><%=link_to room_type.name, room_type%>
        <td><%=room_type.description%></td>
        <td><%= link_to 'Detalhes', room_type, class: 'btn btn-info btn-small' %>
        <%= link_to 'Editar', edit_room_type_path(room_type), class: 'btn btn-primary btn-small' %>
        <%= link_to 'Excluir', room_type, method: :delete, data: { confirm: 'Você tem certeza que deseja deletar esse Tipo de Sala?' }, class: 'btn btn-danger btn-small' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Tipo de Sala', new_room_type_path, class:"btn btn-success" %>
