<% if  @pending_sector_reservations.length > 0 ||  @approved_sector_reservations.length > 0 || @rejected_sector_reservations.length > 0 %>

  <% if @pending_sector_reservations.length > 0 %>
    <div class="accordion">
      <table class = "table table-striped table-bordered table-hover">
        <thead class="head">
          <tr>
            <th class ="table-title" colspan="10"> Reservas Pendentes <div class= "subtitle inline">
              (<%=@pending_sector_reservations.length%>)
            </div> <i class="fa fa-angle-down strong toggleIcon"></th>

          </tr>
        </thead>

        <tbody class= "slide-hidden">
          <tr>
            <td colspan="10" class="mass-action-bar">
              <strong>Ações em massa: </strong><%= @pending_list.mass_actions%>
            </td>
          </tr>
          <%= render 'reservations/reservations_secretary_header' %>
          <% @pending_sector_reservations.each do |reservation| %>
            <tr>
              <td><input type="checkbox"  data-id="<%=reservation.id%>"></td>
              <td><%= reservation.date %></td>
              <td><%= reservation.begin_time %></td>
              <td><%= reservation.end_time %></td>
              <td><%= reservation.created_at %></td>
              <td><%= reservation.place %></td>
              <td><%= reservation.sectors_names %></td>
              <td><%= reservation.has_conflicts? %></td>
              <td><%= reservation.user %></td>
              <td>
                <%= reservation.details_link  %>
                <%= reservation.approve_link %>
                <%= reservation.reject_link %>
                <%= reservation.suspend_link %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <%end%>

  <% if @approved_sector_reservations.length > 0 %>
    <div class="accordion">
      <table class = "table table-striped table-bordered table-hover">
        <thead class="head">
          <tr>
            <th class ="table-title" colspan="10">Reservas Aprovadas <div class= "subtitle inline">
              (<%=@approved_sector_reservations.length%>)</div><i class="fa fa-angle-down strong toggleIcon"></th>
          </tr>
        </thead>
        <tbody class= "slide-hidden">
          <tr>
            <td colspan="10" class="mass-action-bar">
              <strong>Ações em massa: </strong><%= @approved_list.mass_actions%>
            </td>
          </tr>
          <%= render 'reservations/reservations_secretary_header' %>
          <% @approved_sector_reservations.each do |reservation| %>
            <tr>
              <td><input type="checkbox" data-id="<%=reservation.id%>"></td>
              <td><%= reservation.date %></td>
              <td><%= reservation.begin_time %></td>
              <td><%= reservation.end_time %></td>
              <td><%= reservation.created_at %></td>
              <td><%= reservation.place %></td>
              <td><%= reservation.sectors_names %></td>
              <td><%= reservation.has_conflicts? %></td>
              <td><%= reservation.user %></td>
              <td>
                <%= reservation.details_link  %>
                <%= reservation.approve_link %>
                <%= reservation.reject_link %>
                <%= reservation.suspend_link %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <%end%>

  <% if @rejected_sector_reservations.length > 0 %>
    <div class="accordion">
      <table class = "table table-striped table-bordered table-hover">
        <thead class="head">
          <tr colspan="8">
            <th class ="table-title" colspan= "9">Reservas Rejeitadas <div class= "subtitle inline">
              (<%=@rejected_sector_reservations.length%>)</div><i class="fa fa-angle-down strong toggleIcon"></th>
        </thead>
        <tbody class= "slide-hidden">
          <tr>
            <td colspan="10" class="mass-action-bar">
              <strong>Ações em massa: </strong><%= @rejected_list.mass_actions%>
            </td>
          </tr>
          <tr>
            <th><input type="checkbox" onchange="toggleSelectAll(this)"></th>
            <th>Data</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Solicitada em</th>
            <th>Local</th>
            <th>Setor</th>
            <th>Solicitante</th>
            <th>Motivo da Rejeição</th>
            <th colspan="3">Ações</th>
          </tr>
          <% @rejected_sector_reservations.each do |reservation| %>
            <tr>

              <td><input type="checkbox" data-id="<%=reservation.id%>"></td>
              <td><%= reservation.date %></td>
              <td><%= reservation.begin_time %></td>
              <td><%= reservation.end_time %></td>
              <td><%= reservation.created_at %></td>
              <td style= "max-width:25%; width:15%; word-wrap:break-word"><%= reservation.place %></td>
              <td><%= reservation.sectors_names %></td>
              <td><%= reservation.user %></td>
              <td style= "max-width:15%; width:15%; word-wrap:break-word"><%= reservation.justification.reason %></td>
              <td>
                <%= reservation.details_link %>
                <%= reservation.approve_link   %>
                <%= reservation.reject_link %>
                <%= reservation.suspend_link %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <%end %>

<%else%>
  <p>Não existe nenhuma reserva nestas condições.</p>
<%end%>

<hr>

<h3 class="inline"><strong>Total:</strong></h3>
<p>
  <%=@pending_sector_reservations.length+ @approved_sector_reservations.length + @rejected_sector_reservations.length %> reservas
</p>



<%= link_to 'Nova Reserva', new_reservation_path, class:"btn btn-success" %>


<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
