<%= simple_form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> impediu o salvamento desta reserva:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :date, as: :date_picker  %>
    <%= f.input :begin_time, as: :time_picker %>
    <%= f.input :end_time, as: :time_picker %>

    <%= f.association :place, as: :grouped_select, collection: Place.grouped_by_type, group_method: :last, option_key_method: :name, label_method: :full_name, option_value_method: :id, group_label_method: :first, input_html: { class: 'chosen-select', data: { placeholder: "Selecione uma sala" } ,id: 'place_selector'} %>
    <br>
    <%= f.input :reason %>
    <br>
    <%= f.input :responsible, label:"Autorizado a pegar a chave da sala"%>
    (Deixe em branco caso seja você mesmo)

  </div>
  </br>
  <%= f.button :submit, "OK", class:"btn btn-success" %>

  <hr>
<% end %>
