<%= simple_form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> impediu o salvamento desta Sala:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr>
  <div class="form-inputs">
    <%= f.input :begin_time %>
    <%= f.input :end_time %>
    <%= f.association :place %>
  </div>
  </br>
  <%= f.button :submit, "OK", class:"btn btn-success" %>

  <hr>
<% end %>