<td><%= reservation.date %></td>
<td><%= reservation.begin_time %></td>
<td><%= reservation.end_time %></td>
<td><%= reservation.place %></td>
<td><%= reservation.has_conflicts? %></td>
<td><%= reservation.responsible %></td>
<td>
  <%= reservation.details_link%>
  <%= reservation.cancel_link %>
</td>
