<td><%= reservation.date %></td>
<td><%= reservation.begin_time %></td>
<td><%= reservation.end_time %></td>
<td><%= reservation.place %></td>
<td><%= reservation.has_conflicts? %></td>
<td><%= reservation.responsible %></td>
<td><%= link_to 'Detalhes', reservation,  class: "btn-small btn-normal" %></td>
