<%if params[:filter_by] == "future" %>
  <h1>Minhas Reservas Futuras</h1>
<% elsif params[:filter_by] == "finished" %>
  <h1>Minhas Reservas Finalizadas</h1>
<%else%>
  <h1>Minhas Reservas</h1>
<%end%>

<ul class="nav nav-tabs" style="margin-bottom: 20px;">
  <li><%= link_to 'Reservas Futuras', reservations_path(filter_by: "future") %></li>
  <li><%= link_to 'Reservas Finalizadas', reservations_path(filter_by: "finished") %></li>
  <li><%= link_to 'Todas as Reservas', reservations_path %></li>
</ul>

<% if  @pending_reservations.length > 0 ||  @approved_reservations.length > 0 || @rejected_reservations.length > 0 %>

  <% if @pending_reservations.length > 0 %>
    <table class = "table table-striped table-bordered table-hover">
      <thead>
        <tr colspan="4">
          <th>Reservas Pendentes</th>
        </tr>
        <%= render 'reservations/reservations_user_header' %>
      </thead>

      <tbody>
        <% @pending_reservations.each do |reservation| %>
          <tr>
            <%= render reservation%>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%end%>

  <% if @approved_reservations.length > 0 %>
    <table class = "table table-striped table-bordered table-hover">
      <thead>
        <tr colspan="4">
          <th>Reservas Aprovadas</th>
        </tr>
        <%= render 'reservations/reservations_user_header' %>
      </thead>
      <tbody>
        <% @approved_reservations.each do |reservation| %>
          <tr>
            <%= render reservation%>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%end%>

  <% if @rejected_reservations.length > 0 %>
    <table class = "table table-striped table-bordered table-hover">
      <thead>
        <tr colspan="4">
          <th>Reservas Rejeitadas</th>
        </tr>
        <tr>
          <th>Data</th>
          <th>Início</th>
          <th>Fim</th>
          <th>Local</th>
          <th>Conflita?</th>
          <th>Motivo da Rejeição</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @rejected_reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.date %></td>
            <td><%= reservation.begin_time %></td>
            <td><%= reservation.end_time %></td>
            <td><%= reservation.place %></td>
            <td><%= reservation.has_conflicts? %></td>
            <td><%= reservation.justification.reason %></td>
            <td><%= reservation.details_link%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%end%>
  <br>

<%else%>
  <br>
  <br>
  <big>Não existe nenhuma reserva deste tipo.</big>
  <br>
  <br>
  <br>
<%end%>

<%= link_to 'Nova Reserva Simples', new_reservation_path, class:"btn btn-success" %>
