<h1>Detalhes da Reserva</h1>
<%= link_to 'Editar Informações desta Reserva', edit_reservation_path(@reservation), class:"btn-small btn-primary"%> 

<hr>

<dl>
  <dt>Data:</dt> <dd><%= @reservation.date.strftime("%d/%m/%Y") %></dd>
  <dt>Início:</dt> <dd><%= @reservation.begin_time.strftime("%H:%M") %></dd>
  <dt>Término:</dt> <dd><%= @reservation.end_time.strftime("%H:%M") %></dd>
  <dt>Sala:</dt> <dd><%= @reservation.place.name %></dd>
  <dt>Tipo de Sala:</dt> <dd><%= @reservation.place.room_type.name %></dd>
  <dt>Setor Responsável:</dt> <dd><% @reservation.sectors.each do |sector| %><%= link_to sector.name, sector_path(sector) %><%end%></dd>
  <dt>Motivo:</dt> <dd><%= @reservation.reason %></dd>
</dl>

<%= render 'shared/back'%>