<h1>Detalhes da Reserva</h1>
<%= link_to 'Editar Informações desta Reserva', edit_reservation_path(@reservation), class:"btn-small btn-normal"%>

<%= @reservation.approver_links %>

<hr>

<dl>
  <dt>Situação:</dt> <dd><%= @reservation.status %></dd>
  <dt>Data:</dt> <dd><%= @reservation.date %></dd>
  <dt>Solicitante:</dt> <dd><%= @reservation.user %></dd>
  <dt>Início:</dt> <dd><%= @reservation.begin_time %></dd>
  <dt>Término:</dt> <dd><%= @reservation.end_time %></dd>
  <dt>Solicitada em:</dt> <dd><%= @reservation.created_at %></dd>
  <dt>Sala:</dt> <dd><%= link_to @reservation.place %></dd>
  <dt>Tipo de Sala:</dt> <dd><%= link_to @reservation.room_type%></dd>
  <dt>Setor Responsável:</dt> <dd><% @reservation.sectors.each do |sector| %><%= link_to sector.name, sector_path(sector) %><%end%></dd>
  <dt>Motivo:</dt> <dd><%= @reservation.reason %></dd>
</dl>



<hr>

<h2>Reservas que conflitam com esta</h2>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Data</th>
      <th>Início</th>
      <th>Fim</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% unless @conflicts.length == 0 %>
      <% @conflicts.each do |reservation| %>
        <tr>
          <td><%= reservation.date %></td>
          <td><%= reservation.begin_time %></td>
          <td><%= reservation.end_time %></td>
          <td><%= reservation.place %></td>
          <td><%= reservation.details_link %></td>
        </tr>
      <% end %>
    <%else%>
      <tr>
        <td colspan="4">Não existem reservam que conflitam horários com esta.</td>
      </tr>
    <% end %>
  </tbody>
</table>
