<h1>Detalhes da Reserva</h1>
<%= link_to 'Editar Informações desta Reserva', edit_reservation_path(@reservation), class:"btn-small btn-primary"%> 

<hr>

<dl>
  <dt>Início:</dt> <dd><%= @reservation.begin_time %></dd>
  <dt>Término:</dt> <dd><%= @reservation.end_time %></dd>
  <dt>Sala:</dt> <dd><%= @reservation.place.name %></dd>
  <dt>Tipo de Sala:</dt> <dd><%= @reservation.place.room_type.name %></dd>
  <dt>Setor:</dt> <dd><%= @reservation.place.sector.name %></dd>
</dl>

<%= render 'back_index'%>