<div class = "well login_form">

  <%= image_tag "logo.png", size: "120x120" %>

  <h4 class= "centered_text">Gerenciador de Espaço Físico</h4>
  <h2 class= "centered_text">Entrar</h2>

  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, :required => false, :autofocus => true, label: "E-mail" %>
      <%= f.input :password, :required => false, label: "Senha" %>
      <%= render "devise/shared/links" %>
      <%= f.input :remember_me, label: "Mantenha-me conectado", :as => :boolean if devise_mapping.rememberable? %>
    </div>

    <br>
    <%= f.button :submit, "Entrar", class: "btn btn-success" %>

    <hr>

    <p>Quer reservar e não possui uma conta? <br> Entre em contato com a secretaria do seu departamento.</p>

  <% end %>

</div>