<h1>Motoristas</h1>

<table class="table table-striped table-bordered table-hover ">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>

  <% unless @drivers.empty? %>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= link_to driver.name, driver %></td>
        <td>
          <%= link_to icon('check-square-o') + ' Nova Reserva', new_vehicle_reservation_path(driver_id: driver.id), class: "btn btn-success btn-sm" %>
          <%= link_to icon('file-text-o') + ' Detalhes', driver, class: "btn btn-normal btn-sm" %>
          <%= link_to icon('edit') + ' Editar', edit_driver_path(driver), class: "btn btn-normal btn-sm" %>
          <%= link_to icon('trash-o') + ' Excluir', driver, method: :delete, data: { confirm: 'Tem certeza que deseja excluir este veículo?' }, class: "btn btn-normal btn-sm" %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan='2'>
        Não existem motoristas cadastrados
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to icon('plus-square-o') + ' Cadastrar motorista', new_driver_path, class: "btn btn-success" %>
