<div class="row">

  <div class="col-md-8 col-xs-12">
    <h1><%= link_to "Motoristas", drivers_path%> > Detalhes do Motorista <%= @driver.name %></strong></h1>
  </div>

  <div class="col-md-4 col-xs-12">
    <%=link_to icon('edit') +  ' Editar dados', edit_driver_path(@driver) , class: "btn btn-primary pull-right margin-top" %>
  </div>


</div>


<h3>Dados Gerais</h3>
<strong>Nome:</strong> <%= @driver.name%>

<hr>

  <%= link_to icon('trash-o') + ' Excluir', @driver, method: :delete, data: { confirm: 'Tem certeza que deseja excluir este motorista?' }, class: "btn btn-danger pull-right" %>
