<h1>Veículos</h1>

<table class="table table-striped table-bordered table-hover ">
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Placa</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% unless @vehicles.empty? %>
      <% @vehicles.each do |vehicle| %>
        <tr>
          <td><%= link_to vehicle.car_model, vehicle %></td>
          <td><%= vehicle.plate  %></td>
          <td>
            <%= link_to icon('check-square-o') + ' Nova Reserva', new_vehicle_reservation_path(vehicle_id: vehicle.id), class: "btn btn-success btn-sm" %>
            <%= link_to icon('file-text-o') + ' Detalhes', vehicle, class: "btn btn-normal btn-sm" %>
            <%= link_to icon('edit') + ' Editar', edit_vehicle_path(vehicle), class: "btn btn-normal btn-sm" %>
            <%= link_to icon('trash-o') + ' Excluir', vehicle, method: :delete, data: { confirm: 'Tem certeza que deseja excluir este veículo?' }, class: "btn btn-normal btn-sm" %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan='3'>
          Não existem veículos cadastrados
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to icon('plus-square-o') + ' Cadastrar veículo', new_vehicle_path, class: "btn btn-success" %>
