
<h1><%= link_to "Veículos", vehicles_path%> > Detalhes do Veículo <%= @vehicle.plate %></strong></h1>

<%=link_to icon('edit') +  ' Editar dados', edit_vehicle_path(@vehicle) , class: "btn btn-primary pull-right margin-top" %>

<h3>Dados Gerais</h3>
<p>
  <strong>Modelo:</strong> <%= @vehicle.car_model%>
</p>
<p>
  <strong>Capacidade:</strong> <%= @vehicle.capacity%>
</p>
<p>
  <strong>Características:</strong> <%= @vehicle.description%>
</p>

<hr>

  <%= link_to icon('trash-o') + ' Excluir', @vehicle, method: :delete, data: { confirm: 'Tem certeza que deseja excluir este veículo?' }, class: "btn btn-danger pull-right" %>
