<div class="row">

  <div class="col-md-8 col-xs-12">
    <h1><%= link_to "Veículos", vehicles_path%> > Detalhes do Veículo <%= @vehicle.plate %></strong></h1>
  </div>

  <div class="col-md-4 col-xs-12">
    <%=link_to icon('edit') +  ' Editar dados', edit_vehicle_path(@vehicle) , class: "btn btn-primary pull-right margin-top" %>
  </div>


</div>


<h3>Dados Gerais</h3>
<p>
  <strong>Modelo:</strong> <%= @vehicle.car_model%>
</p>
<p>
  <strong>Capacidade:</strong> <%= @vehicle.capacity%>
</p>
<p>
  <strong>Características:</strong> <%= @vehicle.description%>
</p>

<hr>

  <%= link_to icon('trash-o') + ' Excluir', @vehicle, method: :delete, data: { confirm: 'Tem certeza que deseja excluir este veículo?' }, class: "btn btn-danger pull-right" %>
