<h1>Editando minhas Informações</h1>

<%= simple_form_for(@user, url: profile_edit_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :name, :required => true %>
    <%= f.input :cpf, :required => true %>
    <%= f.input :old_password, :required => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
    <%= f.input :role, collection: @functions,  label_method: :first, value_method: :last, input_html: { class: 'chosen-select',  data: { placeholder: "Selecione uma função" } }, required: true %>
    <br>
    <%= f.association :sector, input_html: { class: 'chosen-select' }, :required => true %>
    <br>
  </div>

  <%= f.button :submit, "OK", class:"btn btn-success" %>
<% end %>

<%= render 'shared/back'%>