<h2>Mapa do Prédio</h2>
<hr>

<div class= "container">
  <div class= "row-fluid">
    <div class="map-navigation span8">

      <div id="IMD-2nd-Floor"style="height: 450px;"></div>
    </div>

    <div class="span1 no-margin-left">
      <ul class="my-pagination no-margin-left">
        <li><a href="#" class= "floor-link active" data-floor="1">1</a></li>
        <li><a href="#" class= "floor-link" data-floor="2">2</a></li>
        <li><a href="#" class= "floor-link" data-floor="3">3</a></li>
        <li><a href="#" class= "floor-link" data-floor="4">4</a></li>
      </ul>
    </div>

    <div class="panel span3">
      <h3>Localizar Sala</h3>
      <%= simple_form_for(:place, method: :get, url: "/map/show") do |f| %>


        <div class="form-inputs">
          <%= f.input :code, label: "Código", input_html: {
                       value: params.try(:[], :place).try(:[], :code)} %>

        </div>

        <%= f.button :submit, "OK", class:"btn btn-success" %>


      <% end %>

      <div class="floor-result">

        <hr>

        <h3>Resultados</h3>

        <ul class="my-list-group">
          <li class="my-list-group-item">
            <a href="#" class= "floor-link active" data-floor="1">
              Primeiro pavimento
              <span class="badge"><%= @map.get_places_count(1) %></span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="#" class= "floor-link" data-floor="2">
              Segundo pavimento
              <span class="badge"><%= @map.get_places_count(2) %></span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="#" class= "floor-link" data-floor="3">
              Terceiro pavimento
              <span class="badge"><%= @map.get_places_count(3) %></span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="#" class= "floor-link" data-floor="4">
              Quarto pavimento
              <span class="badge"><%= @map.get_places_count(4) %></span>
            </a>
          </li>
        </ul>

        <% if @map.length  == 1%>
          <hr>
          <%= link_to "Nova Reserva na " + @map.first.code, new_reservation_path, class:"btn btn-success" %>
        <% end %>
      </div>

    </div>

  </div>
</div>




<script>
  $(function(){
    jQuery.fn.vectorMap('addMap', 'IMD-piso-2', {"width":"1117","height":"886","paths":{"background":{"name":"Corredor","path":"m295.00 31.00l545.00 0.00l190.00 0.00l0.00 270.00l0.00 65.00l-525.00 0.00l0.00 155.00l380.00 0.00l0.00 330.00l-825.00 0.00l0.00 -330.00l215.00 0.00l0.00 -490.00l20.00 0.00z"},"A201":{"name":"A201","path":"m300.00 111.00 80.00 0.00 0.00 50.00 -80.00 0.00z"},"A202":{"name":"A202","path":"m385.00 36.00 0.00 125.00 75.00 0.00 0.00 -125.00z"},"A204":{"name":"A204","path":"m465.00 36.00 0.00 125.00 75.00 0.00 0.00 -125.00z"},"A205":{"name":"A205","path":"m545.00 36.00 0.00 125.00 75.00 0.00 0.00 -125.00z"},"A212":{"name":"A212","path":"m625.00 36.00 0.00 125.00 75.00 0.00 0.00 -125.00z"},"A213":{"name":"A213","path":"m705.00 36.00 0.00 125.00 75.00 0.00 0.00 -125.00z"},"A220":{"name":"A220","path":"m785.00 36.00 75.00 0.00 0.00 125.00 -75.00 0.00z"},"A221":{"name":"A221","path":"m865.00 36.00 50.00 0.00 0.00 125.00 -50.00 0.00z"},"A221a":{"name":"A221a","path":"m920.00 36.00 0.00 50.00 105.00 0.00 0.00 -50.00z"},"banheiro1":{"name":"Banheiro","path":"m920.00 91.00 25.00 0.00 0.00 40.00 -25.00 0.00z"},"banheiro2":{"name":"Banheiro","path":"m920.00 136.00 25.00 0.00 0.00 25.00 -25.00 0.00z"},"A201a":{"name":"A201a","path":"m300.00 36.00 80.00 0.00 0.00 70.00 -80.00 0.00z"},"banheiro3":{"name":"Banheiro","path":"m950.00 91.00 0.00 15.00 20.00 0.00 0.00 20.00 55.00 0.00 0.00 -35.00z"},"banheiro4":{"name":"Banheiro","path":"m970.00 131.00 55.00 0.00 0.00 30.00 -55.00 0.00z"},"A203":{"name":"A203","path":"m440.00 191.00 105.00 0.00 0.00 50.00 -105.00 0.00z"},"A203a":{"name":"A203b","path":"m500.00 246.00 -60.00 0.00 0.00 45.00 60.00 0.00z"},"A203b":{"name":"A203b","path":"m505.00 361.00 0.00 -115.00 40.00 0.00 0.00 115.00z"},"A210":{"name":"A210","path":"m550.00 311.00 75.00 0.00 0.00 50.00 -75.00 0.00z"},"A206":{"name":"A206","path":"m610.00 191.00 -60.00 0.00 0.00 55.00 60.00 0.00z"},"A208":{"name":"A208","path":"m550.00 251.00 60.00 0.00 0.00 55.00 -60.00 0.00z"},"A209":{"name":"A209","path":"m645.00 251.00 60.00 0.00 0.00 55.00 -60.00 0.00z"},"A211":{"name":"A211","path":"m630.00 311.00 75.00 0.00 0.00 50.00 -75.00 0.00z"},"A214":{"name":"A214","path":"m770.00 191.00 -60.00 0.00 0.00 55.00 60.00 0.00z"},"A216":{"name":"A216","path":"m710.00 251.00 60.00 0.00 0.00 55.00 -60.00 0.00z"},"A218":{"name":"A218","path":"m710.00 311.00 75.00 0.00 0.00 50.00 -75.00 0.00z"},"A219":{"name":"A219","path":"m790.00 311.00 75.00 0.00 0.00 50.00 -75.00 0.00z"},"A215":{"name":"A215","path":"m865.00 191.00 -60.00 0.00 0.00 55.00 60.00 0.00z"},"A217":{"name":"A217","path":"m805.00 251.00 60.00 0.00 0.00 55.00 -60.00 0.00z"},"A222":{"name":"A222","path":"m930.00 191.00 -60.00 0.00 0.00 55.00 60.00 0.00z"},"A224":{"name":"A224","path":"m870.00 251.00 60.00 0.00 0.00 55.00 -60.00 0.00z"},"A226":{"name":"A226","path":"m870.00 311.00 75.00 0.00 0.00 50.00 -75.00 0.00z"},"A227":{"name":"A227","path":"m950.00 311.00 75.00 0.00 0.00 50.00 -75.00 0.00z"},"A223":{"name":"A223","path":"m1025.00 191.00 -60.00 0.00 0.00 55.00 60.00 0.00z"},"A225":{"name":"A225","path":"m965.00 251.00 60.00 0.00 0.00 55.00 -60.00 0.00z"},"copa1":{"name":"Copa","path":"m505.00 526.00 45.00 0.00 0.00 65.00 -45.00 0.00z"},"B206":{"name":"B206","path":"m720.00 526.00 0.00 120.00 160.00 0.00 0.00 -120.00 -160.00 0.00z"},"B205":{"name":"B205","path":"m550.00 686.00 330.00 0.00 0.00 160.00 -330.00 0.00z"},"B204":{"name":"B204","path":"m390.00 686.00 155.00 0.00 0.00 160.00 -155.00 0.00z"},"B202":{"name":"B202","path":"m65.00 756.00 160.00 0.00 0.00 90.00 -160.00 0.00z"},"B201":{"name":"B201","path":"m65.00 571.00 80.00 0.00 0.00 40.00 -80.00 0.00z"},"banheiro6":{"name":"Banheiros","path":"m65.00 616.00 125.00 0.00 0.00 135.00 -125.00 0.00z"},"A207":{"name":"A207","path":"m645.96 218.49 0.00 -25.67 28.60 0.00 28.60 0.00 0.00 25.67 0.00 25.67 -28.60 0.00 -28.60 0.00 0.00 -25.67z"},"B203":{"name":"B203","path":"m230.83 765.64 0.00 -78.48 76.28 0.00 76.28 0.00 0.00 78.48 0.00 78.48 -76.28 0.00 -76.28 0.00 0.00 -78.48z"},"banheiro5":{"name":"Banheiros","path":"m575.55 563.21 0.00 -35.94 66.74 0.00 66.74 0.00 0.00 35.94 0.00 35.94 -66.74 0.00 -66.74 0.00 0.00 -35.94z"},"B201a":{"name":"B201a","path":"m65.80 545.61 0.00 -19.07 38.87 0.00 38.87 0.00 0.00 19.07 0.00 19.07 -38.87 0.00 -38.87 0.00 0.00 -19.07z"}}});

    jQuery.fn.vectorMap('addMap', 'IMD-piso-1', {"width":"1117","height":"886","paths":{"background":{"name":"Corredor","path":"m295.00 31.00l545.00 0.00l190.00 0.00l0.00 270.00l0.00 65.00l-525.00 0.00l0.00 155.00l380.00 0.00l0.00 330.00l-825.00 0.00l0.00 -330.00l215.00 0.00l0.00 -490.00l20.00 0.00z"},"A101":{"name":"A101","path":"m380.00 36.00 0.00 120.00 155.00 0.00 0.00 -120.00z"},"A102":{"name":"A102","path":"m540.00 36.00 0.00 120.00 155.00 0.00 0.00 -120.00z"},"A103":{"name":"A103","path":"m700.00 36.00 0.00 120.00 155.00 0.00 0.00 -120.00z"},"A104":{"name":"A104","path":"m860.00 36.00 0.00 120.00 155.00 0.00 0.00 -120.00z"},"A107":{"name":"A107","path":"m955.00 196.00 0.00 35.00 60.00 0.00 0.00 -35.00z"},"A109":{"name":"A109","path":"m955.00 236.00 0.00 50.00 60.00 0.00 0.00 -50.00z"},"A111":{"name":"A111","path":"m955.00 291.00 0.00 65.00 60.00 0.00 0.00 -65.00z"},"A106":{"name":"A106","path":"m855.00 196.00 0.00 50.00 60.00 0.00 0.00 -50.00z"},"A108":{"name":"A108","path":"m855.00 251.00 0.00 55.00 60.00 0.00 0.00 -55.00z"},"A110":{"name":"A110","path":"m800.00 311.00 0.00 45.00 115.00 0.00 0.00 -45.00z"},"A105":{"name":"A105","path":"m800.00 196.00 0.00 110.00 50.00 0.00 0.00 -110.00z"},"banheiro101":{"name":"Banheiro","path":"m695.00 211.00 30.00 0.00 0.00 60.00 40.00 0.00 0.00 -60.00 30.00 0.00 0.00 145.00 -100.00 0.00z"},"restaurante":{"name":"Restaurante","path":"m425.00 196.00 0.00 95.00 70.00 0.00 0.00 65.00 115.00 0.00 0.00 -160.00z"},"B119":{"name":"B119","path":"m775.00 606.00 0.00 75.00 105.00 0.00 0.00 -75.00z"},"B120":{"name":"B120","path":"m775.00 526.00 0.00 75.00 105.00 0.00 0.00 -75.00z"},"vazio101":{"name":"Vazio","path":"m775.00 686.00 0.00 75.00 105.00 0.00 0.00 -75.00z"},"vazio102":{"name":"Vazio","path":"m775.00 766.00 0.00 80.00 105.00 0.00 0.00 -80.00z"},"B115c":{"name":"B115c","path":"m720.00 696.00 0.00 150.00 50.00 0.00 0.00 -150.00z"},"B118":{"name":"B118","path":"m720.00 641.00 0.00 50.00 50.00 0.00 0.00 -50.00z"},"banheiro102":{"name":"Banheiro","path":"m135.00 751.00 0.00 30.00 -70.00 0.00 0.00 -120.00 70.00 0.00 0.00 65.00 -50.00 0.00 0.00 25.00z"},"almoxarifado101":{"name":"Almoxarifado","path":"m565.00 526.00 20.00 0.00 0.00 75.00 -20.00 0.00z"},"copa101":{"name":"Copa","path":"m505.00 526.00 55.00 0.00 0.00 65.00 -55.00 0.00z"},"B115b":{"name":"B115b","path":"m610.00 766.00 0.00 80.00 105.00 0.00 0.00 -80.00z"},"B115":{"name":"B115","path":"m465.00 766.00 0.00 80.00 140.00 0.00 0.00 -80.00z"},"B117":{"name":"B117","path":"m640.00 641.00 0.00 120.00 75.00 0.00 0.00 -120.00z"},"B116":{"name":"B116","path":"m560.00 641.00 0.00 120.00 75.00 0.00 0.00 -120.00z"},"B113":{"name":"B113","path":"m510.00 641.00 0.00 120.00 45.00 0.00 0.00 -120.00z"},"B115a":{"name":"B115a","path":"m400.00 766.00 0.00 80.00 60.00 0.00 0.00 -80.00z"},"B114":{"name":"B114","path":"m400.00 691.00 80.00 0.00 0.00 70.00 -80.00 0.00z"},"B110":{"name":"B110","path":"m335.00 701.00 60.00 0.00 0.00 -60.00 -60.00 0.00z"},"B107":{"name":"B107","path":"m305.00 786.00 0.00 60.00 90.00 0.00 0.00 -60.00z"},"B108":{"name":"B108","path":"m335.00 706.00 60.00 0.00 0.00 75.00 -60.00 0.00z"},"B106":{"name":"B106","path":"m240.00 786.00 60.00 0.00 0.00 60.00 -60.00 0.00 0.00 -60.00z"},"B105":{"name":"B105","path":"m170.00 786.00 65.00 0.00 0.00 60.00 -65.00 0.00z"},"B104":{"name":"B104","path":"m65.00 786.00 100.00 0.00 0.00 60.00 -100.00 0.00z"},"B109":{"name":"B109","path":"m235.00 706.00 70.00 0.00 0.00 60.00 -70.00 0.00z"},"B111":{"name":"B111","path":"m235.00 641.00 0.00 60.00 70.00 0.00 0.00 -60.00z"},"B112":{"name":"B112","path":"m400.00 641.00 0.00 45.00 80.00 0.00 0.00 -45.00z"},"B101":{"name":"B101","path":"m165.00 641.00 65.00 0.00 0.00 125.00 -65.00 0.00z"},"B103":{"name":"B103","path":"m65.00 596.00 45.00 0.00 0.00 60.00 -45.00 0.00z"},"B102":{"name":"B102","path":"m65.00 526.00 75.00 0.00 0.00 65.00 -75.00 0.00z"},"banheiro105":{"name":"Banheiro","path":"m590.00 526.00 0.00 75.00 130.00 0.00 0.00 -75.00z"},"cozinha_restaurante":{"name":"Restaurante","path":"m620.00 196.00 70.00 0.00 0.00 160.00 -75.00 0.00 0.00 -160.00z"}}});

    jQuery.fn.vectorMap('addMap', 'IMD-piso-3', {"width":"1117","height":"886","paths":{"background":{"name":"Corredor","path":"m295.00 31.00l545.00 0.00l190.00 0.00l0.00 270.00l0.00 65.00l-525.00 0.00l0.00 155.00l380.00 0.00l0.00 330.00l-825.00 0.00l0.00 -330.00l215.00 0.00l0.00 -490.00l20.00 0.00z"},"A301":{"name":"A301","path":"m305.00 36.00 120.00 0.00 0.00 130.00 -120.00 0.00z"},"A303":{"name":"A303","path":"m430.00 36.00 120.00 0.00 0.00 130.00 -120.00 0.00z"},"A305":{"name":"A305","path":"m555.00 36.00 150.00 0.00 0.00 130.00 -150.00 0.00z"},"A307":{"name":"A307","path":"m710.00 36.00 150.00 0.00 0.00 130.00 -150.00 0.00z"},"A309":{"name":"A309","path":"m865.00 36.00 0.00 130.00 150.00 0.00 0.00 -130.00z"},"A308":{"name":"A308","path":"m865.00 361.00 150.00 0.00 0.00 -155.00 -150.00 0.00z"},"A306":{"name":"A306","path":"m710.00 361.00 150.00 0.00 0.00 -155.00 -150.00 0.00z"},"banheiro301":{"name":"Banheiro","path":"m595.00 211.00 30.00 0.00 0.00 60.00 50.00 0.00 0.00 -60.00 30.00 0.00 0.00 150.00 -110.00 0.00z"},"A304":{"name":"A304","path":"m490.00 361.00 100.00 0.00 0.00 -175.00 -100.00 0.00z"},"A302":{"name":"A302","path":"m420.00 186.00 65.00 0.00 0.00 45.00 -65.00 0.00z"},"A302a":{"name":"A302a","path":"m420.00 236.00 65.00 0.00 0.00 45.00 -65.00 0.00z"},"B321":{"name":"B321","path":"m720.00 526.00 160.00 0.00 0.00 125.00 -160.00 0.00z"},"banheiro302":{"name":"Banheiro","path":"m135.00 742.30 0.00 33.70 -70.00 0.00 0.00 -130.00 70.00 0.00 0.00 72.22 -50.00 0.00 0.00 24.07z"},"shaft301":{"name":"Shaft","path":"m555.00 526.00 20.00 0.00 0.00 80.00 -20.00 0.00z"},"copa301":{"name":"Copa","path":"m505.00 526.00 45.00 0.00 0.00 70.00 -45.00 0.00z"},"banheiro305":{"name":"Banheiro","path":"m580.00 526.00 0.00 80.00 135.00 0.00 0.00 -80.00z"},"B327":{"name":"B327","path":"m830.00 776.00 50.00 0.00 0.00 70.00 -50.00 0.00z"},"B325":{"name":"B325","path":"m775.00 776.00 50.00 0.00 0.00 70.00 -50.00 0.00z"},"B323":{"name":"B323","path":"m720.00 776.00 50.00 0.00 0.00 70.00 -50.00 0.00z"},"B326":{"name":"B326","path":"m830.00 681.00 50.00 0.00 0.00 70.00 -50.00 0.00z"},"B324":{"name":"B324","path":"m775.00 681.00 50.00 0.00 0.00 70.00 -50.00 0.00z"},"B322":{"name":"B322","path":"m720.00 681.00 50.00 0.00 0.00 70.00 -50.00 0.00z"},"B320":{"name":"B320","path":"m560.00 786.00 125.00 0.00 0.00 60.00 -125.00 0.00z"},"B318":{"name":"B318","path":"m560.00 721.00 125.00 0.00 0.00 60.00 -125.00 0.00z"},"B316":{"name":"B316","path":"m560.00 656.00 125.00 0.00 0.00 60.00 -125.00 0.00z"},"B319":{"name":"B319","path":"m405.00 786.00 125.00 0.00 0.00 60.00 -125.00 0.00z"},"B317":{"name":"B317","path":"m405.00 721.00 125.00 0.00 0.00 60.00 -125.00 0.00z"},"B315":{"name":"B315","path":"m405.00 656.00 125.00 0.00 0.00 60.00 -125.00 0.00z"},"B314":{"name":"B314","path":"m435.00 616.00 95.00 0.00 0.00 35.00 -95.00 0.00z"},"B312":{"name":"B312","path":"m320.00 806.00 0.00 40.00 80.00 0.00 0.00 -60.00 -65.00 0.00 0.00 20.00z"},"B313":{"name":"B313","path":"m315.00 806.00 0.00 40.00 -80.00 0.00 0.00 -60.00 65.00 0.00 0.00 20.00z"},"B305":{"name":"B305","path":"m150.00 806.00 0.00 40.00 80.00 0.00 0.00 -60.00 -65.00 0.00 0.00 20.00z"},"B306":{"name":"B306","path":"m145.00 806.00 0.00 40.00 -80.00 0.00 0.00 -65.00 65.00 0.00 0.00 25.00z"},"B310":{"name":"B310","path":"m335.00 721.00 65.00 0.00 0.00 60.00 -65.00 0.00z"},"B309":{"name":"B309","path":"m335.00 656.00 65.00 0.00 0.00 60.00 -65.00 0.00z"},"B311":{"name":"B311","path":"m235.00 721.00 65.00 0.00 0.00 60.00 -65.00 0.00z"},"B307a":{"name":"B307a","path":"m235.00 656.00 65.00 0.00 0.00 60.00 -65.00 0.00z"},"B304":{"name":"B304","path":"m165.00 721.00 65.00 0.00 0.00 60.00 -65.00 0.00z"},"B303":{"name":"B303","path":"m165.00 656.00 65.00 0.00 0.00 60.00 -65.00 0.00z"},"B308":{"name":"B308","path":"m335.00 651.00 95.00 0.00 0.00 -35.00 -95.00 0.00z"},"B307":{"name":"B307","path":"m165.00 651.00 135.00 0.00 0.00 -35.00 -135.00 0.00z"},"B302":{"name":"B302","path":"m65.00 586.00 70.00 0.00 0.00 55.00 -70.00 0.00z"},"B301a":{"name":"B301a","path":"m65.00 526.00 35.00 0.00 0.00 55.00 -35.00 0.00z"},"B301":{"name":"B301","path":"m105.00 526.00 35.00 0.00 0.00 55.00 -35.00 0.00z"}}});

    jQuery.fn.vectorMap('addMap', 'IMD-piso-4', {"width":"1117","height":"886","paths":{"background":{"name":"Corredor","path":"m295.00 31.00l545.00 0.00l190.00 0.00l0.00 270.00l0.00 65.00l-525.00 0.00l0.00 155.00l380.00 0.00l0.00 330.00l-825.00 0.00l0.00 -330.00l215.00 0.00l0.00 -490.00l20.00 0.00z"},"A401":{"name":"A401","path":"m300.00 36.00 75.00 0.00 0.00 130.00 -75.00 0.00z"},"A402":{"name":"A402","path":"m380.00 36.00 150.00 0.00 0.00 130.00 -150.00 0.00z"},"A404":{"name":"A404","path":"m535.00 36.00 50.00 0.00 0.00 130.00 -50.00 0.00z"},"A405":{"name":"A405","path":"m590.00 36.00 50.00 0.00L640.00 166.00l-50.00 0.00z"},"A406":{"name":"A406","path":"m645.00 36.00 50.00 0.00L695.00 166.00l-50.00 0.00z"},"A407":{"name":"A407","path":"m700.00 36.00 50.00 0.00L750.00 166.00l-50.00 0.00z"},"A409":{"name":"A409","path":"m755.00 36.00 50.00 0.00L805.00 166.00l-50.00 0.00z"},"A410":{"name":"A410","path":"m810.00 36.00 50.00 0.00L860.00 166.00l-50.00 0.00z"},"A412":{"name":"A412","path":"m865.00 36.00 50.00 0.00L915.00 166.00l-50.00 0.00z"},"A413":{"name":"A413","path":"m920.00 36.00 50.00 0.00L970.00 166.00l-50.00 0.00z"},"A415":{"name":"A415","path":"m975.00 36.00 50.00 0.00 0.00 130.00 -50.00 0.00z"},"A414":{"name":"A414","path":"m920.00 196.00 105.00 0.00 0.00 165.00 -105.00 0.00z"},"A411":{"name":"A411","path":"m810.00 196.00 105.00 0.00 0.00 165.00 -105.00 0.00z"},"A408":{"name":"A408","path":"m700.00 196.00 105.00 0.00 0.00 165.00 -105.00 0.00z"},"banheiro401":{"name":"Banheiro","path":"m585.00 211.00 30.00 0.00 0.00 60.00 50.00 0.00 0.00 -60.00 30.00 0.00 0.00 150.00 -110.00 0.00z"},"cantina":{"name":"Cantina","path":"m480.00 296.00 45.00 0.00 0.00 65.00 -45.00 0.00z"},"A403a":{"name":"A403a","path":"m465.00 246.00 60.00 0.00 0.00 45.00 -60.00 0.00z"},"A403":{"name":"A403","path":"m465.00 196.00 60.00 0.00 0.00 45.00 -60.00 0.00z"},"acesso":{"name":"Acesso Laje","path":"m415.00 196.00 45.00 0.00 0.00 40.00 -45.00 0.00z"},"B415":{"name":"B415","path":"m830.00 526.00 50.00 0.00 0.00 80.00 -50.00 0.00z"},"B414":{"name":"B414","path":"m775.00 526.00 50.00 0.00 0.00 80.00 -50.00 0.00z"},"B413":{"name":"B413","path":"m720.00 526.00 50.00 0.00 0.00 80.00 -50.00 0.00z"},"banheiro402":{"name":"Banheiro","path":"m580.00 526.00 135.00 0.00 0.00 80.00 -125.00 0.00 -10.00 0.00z"},"shaft401":{"name":"Shaft","path":"m555.00 526.00 20.00 0.00 0.00 80.00 -20.00 0.00z"},"copa401":{"name":"Copa","path":"m505.00 526.00 45.00 0.00 0.00 70.00 -45.00 0.00z"},"B436":{"name":"B436","path":"m775.00 686.00 105.00 0.00 0.00 160.00 -105.00 0.00z"},"B412":{"name":"B412","path":"m775.00 631.00 0.00 50.00 50.00 0.00 0.00 -50.00z"},"B437":{"name":"B437","path":"m720.00 781.00 50.00 0.00 0.00 65.00 -50.00 0.00z"},"B435":{"name":"B435","path":"m670.00 781.00 45.00 0.00 0.00 65.00 -45.00 0.00z"},"B433":{"name":"B433","path":"m615.00 781.00 50.00 0.00 0.00 65.00 -50.00 0.00z"},"B431":{"name":"B431","path":"m560.00 781.00 50.00 0.00 0.00 65.00 -50.00 0.00z"},"B429":{"name":"B429","path":"m505.00 781.00 50.00 0.00 0.00 65.00 -50.00 0.00z"},"B427":{"name":"B427","path":"m450.00 781.00 50.00 0.00 0.00 65.00 -50.00 0.00z"},"B425":{"name":"B425","path":"m395.00 781.00 50.00 0.00 0.00 65.00 -50.00 0.00z"},"B423":{"name":"B423","path":"m340.00 781.00 50.00 0.00 0.00 65.00 -50.00 0.00z"},"B422":{"name":"B422","path":"m285.00 781.00 50.00 0.00 0.00 65.00 -50.00 0.00z"},"B421":{"name":"B421","path":"m230.00 781.00 50.00 0.00 0.00 65.00 -50.00 0.00z"},"B420":{"name":"B420","path":"m175.00 781.00 50.00 0.00 0.00 65.00 -50.00 0.00z"},"B419":{"name":"B419","path":"m65.00 846.00 105.00 0.00 0.00 -160.00 -105.00 0.00z"},"B434":{"name":"B434","path":"m665.00 686.00 50.00 0.00 0.00 65.00 -50.00 0.00z"},"B432":{"name":"B432","path":"m610.00 686.00 50.00 0.00 0.00 65.00 -50.00 0.00z"},"B430":{"name":"B430","path":"m555.00 686.00 50.00 0.00 0.00 65.00 -50.00 0.00z"},"B428":{"name":"B428","path":"m500.00 686.00 50.00 0.00 0.00 65.00 -50.00 0.00z"},"B426":{"name":"B426","path":"m445.00 686.00 50.00 0.00 0.00 65.00 -50.00 0.00z"},"B424":{"name":"B424","path":"m390.00 686.00 50.00 0.00 0.00 65.00 -50.00 0.00z"},"B416":{"name":"B416","path":"m285.00 686.00 50.00 0.00 0.00 65.00 -50.00 0.00z"},"B417":{"name":"B417","path":"m230.00 686.00 50.00 0.00 0.00 65.00 -50.00 0.00z"},"B418":{"name":"B418","path":"m175.00 686.00 50.00 0.00 0.00 65.00 -50.00 0.00z"},"B411":{"name":"B411","path":"m665.00 631.00 50.00 0.00 0.00 50.00 -50.00 0.00z"},"B410":{"name":"B410","path":"m610.00 631.00 50.00 0.00 0.00 50.00 -50.00 0.00z"},"B409":{"name":"B409","path":"m555.00 631.00 50.00 0.00 0.00 50.00 -50.00 0.00z"},"B408":{"name":"B408","path":"m500.00 631.00 50.00 0.00 0.00 50.00 -50.00 0.00z"},"B407":{"name":"B407","path":"m445.00 631.00 50.00 0.00 0.00 50.00 -50.00 0.00z"},"B406":{"name":"B406","path":"m390.00 631.00 50.00 0.00 0.00 50.00 -50.00 0.00z"},"B405":{"name":"B405","path":"m285.00 631.00 50.00 0.00 0.00 50.00 -50.00 0.00z"},"B404":{"name":"B404","path":"m230.00 631.00 50.00 0.00 0.00 50.00 -50.00 0.00z"},"B403":{"name":"B403","path":"m175.00 631.00 50.00 0.00 0.00 50.00 -50.00 0.00z"},"B402":{"name":"B402","path":"m120.00 631.00 50.00 0.00 0.00 50.00 -50.00 0.00z"},"B402a":{"name":"B402a","path":"m65.00 596.00 50.00 0.00 0.00 85.00 -50.00 0.00z"},"B401a":{"name":"B401a","path":"m65.00 526.00 40.00 0.00 0.00 65.00 -40.00 0.00z"},"B401":{"name":"B401","path":"m110.00 526.00 40.00 0.00 0.00 65.00 -40.00 0.00z"}}});



    function changeMap(floor){
      $('#IMD-2nd-Floor').html("");
      $('#IMD-2nd-Floor').vectorMap(
        {
          map: "IMD-piso-"+ floor,
          series: {
            regions: [{
              values: <%= raw(@map.color_hash) %>,
              attribute : 'fill'
            }]
           }
         }
      );
    }

    $('.floor-link').click(function(e){
      e.preventDefault();
      var link = $(e.currentTarget);
      var floor= link.data("floor")
      $('.floor-link').removeClass("active");
      $('.floor-link[data-floor='+floor+']').addClass("active");
      changeMap(floor);
    });

    changeMap(1);
});

</script>
