<h2>Mapa do Prédio</h2>
<hr>

<h1><%= @map.grouped_by_floor%></h1>

<div class= "container">
  <div class= "row-fluid">
    <div class="map-navigation span8">

      <div id="IMD-2nd-Floor"style="height: 450px;"></div>
    </div>

    <div class="span1 no-margin-left">
      <ul class="my-pagination no-margin-left">
        <li><a href="?floor=1" class= "active">1</a></li>
        <li><a href="?floor=2">2</a></li>
        <li><a href="?floor=3">3</a></li>
        <li><a href="?floor=4">4</a></li>
      </ul>
    </div>

    <div class="panel span3">
      <h3>Localizar Sala</h3>
      <%= simple_form_for(:place, method: :get, url: "/map/show") do |f| %>


        <div class="form-inputs">
          <%= f.input :code, label: "Código" %>

        </div>

        <%= f.button :submit, "OK", class:"btn btn-success" %>


      <% end %>

      <div class="floor-result hide">

        <hr>

        <h3>Resultados</h3>

        <ul class="my-list-group">
          <li class="my-list-group-item">
            Primeiro pavimento
            <span class="badge">14</span>
          </li>
          <li class="list-group-item">
            Segundo pavimento
            <span class="badge">2</span>
          </li>
          <li class="list-group-item">
            Terceiro pavimento
            <span class="badge">1</span>
          </li>
          <li class="list-group-item">
            Quarto pavimento
            <span class="badge">1</span>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>




<script>
  $(function(){
    jQuery.fn.vectorMap('addMap', 'IMD-piso-2', {"width":"1117","height":"886","paths":{"background":{"name":"Corredor","path":"m295.00 31.00l545.00 0.00l190.00 0.00l0.00 270.00l0.00 65.00l-525.00 0.00l0.00 155.00l380.00 0.00l0.00 330.00l-825.00 0.00l0.00 -330.00l215.00 0.00l0.00 -490.00l20.00 0.00z"},"A201":{"name":"A201","path":"m300.00 111.00 80.00 0.00 0.00 50.00 -80.00 0.00z"},"A202":{"name":"A202","path":"m385.00 36.00 0.00 125.00 75.00 0.00 0.00 -125.00z"},"A204":{"name":"A204","path":"m465.00 36.00 0.00 125.00 75.00 0.00 0.00 -125.00z"},"A205":{"name":"A205","path":"m545.00 36.00 0.00 125.00 75.00 0.00 0.00 -125.00z"},"A212":{"name":"A212","path":"m625.00 36.00 0.00 125.00 75.00 0.00 0.00 -125.00z"},"A213":{"name":"A213","path":"m705.00 36.00 0.00 125.00 75.00 0.00 0.00 -125.00z"},"A220":{"name":"A220","path":"m785.00 36.00 75.00 0.00 0.00 125.00 -75.00 0.00z"},"A221":{"name":"A221","path":"m865.00 36.00 50.00 0.00 0.00 125.00 -50.00 0.00z"},"A221a":{"name":"A221a","path":"m920.00 36.00 0.00 50.00 105.00 0.00 0.00 -50.00z"},"banheiro1":{"name":"Banheiro","path":"m920.00 91.00 25.00 0.00 0.00 40.00 -25.00 0.00z"},"banheiro2":{"name":"Banheiro","path":"m920.00 136.00 25.00 0.00 0.00 25.00 -25.00 0.00z"},"A201a":{"name":"A201a","path":"m300.00 36.00 80.00 0.00 0.00 70.00 -80.00 0.00z"},"banheiro3":{"name":"Banheiro","path":"m950.00 91.00 0.00 15.00 20.00 0.00 0.00 20.00 55.00 0.00 0.00 -35.00z"},"banheiro4":{"name":"Banheiro","path":"m970.00 131.00 55.00 0.00 0.00 30.00 -55.00 0.00z"},"A203":{"name":"A203","path":"m440.00 191.00 105.00 0.00 0.00 50.00 -105.00 0.00z"},"A203a":{"name":"A203b","path":"m500.00 246.00 -60.00 0.00 0.00 45.00 60.00 0.00z"},"A203b":{"name":"A203b","path":"m505.00 361.00 0.00 -115.00 40.00 0.00 0.00 115.00z"},"A210":{"name":"A210","path":"m550.00 311.00 75.00 0.00 0.00 50.00 -75.00 0.00z"},"A206":{"name":"A206","path":"m610.00 191.00 -60.00 0.00 0.00 55.00 60.00 0.00z"},"A208":{"name":"A208","path":"m550.00 251.00 60.00 0.00 0.00 55.00 -60.00 0.00z"},"A209":{"name":"A209","path":"m645.00 251.00 60.00 0.00 0.00 55.00 -60.00 0.00z"},"A211":{"name":"A211","path":"m630.00 311.00 75.00 0.00 0.00 50.00 -75.00 0.00z"},"A214":{"name":"A214","path":"m770.00 191.00 -60.00 0.00 0.00 55.00 60.00 0.00z"},"A216":{"name":"A216","path":"m710.00 251.00 60.00 0.00 0.00 55.00 -60.00 0.00z"},"A218":{"name":"A218","path":"m710.00 311.00 75.00 0.00 0.00 50.00 -75.00 0.00z"},"A219":{"name":"A219","path":"m790.00 311.00 75.00 0.00 0.00 50.00 -75.00 0.00z"},"A215":{"name":"A215","path":"m865.00 191.00 -60.00 0.00 0.00 55.00 60.00 0.00z"},"A217":{"name":"A217","path":"m805.00 251.00 60.00 0.00 0.00 55.00 -60.00 0.00z"},"A222":{"name":"A222","path":"m930.00 191.00 -60.00 0.00 0.00 55.00 60.00 0.00z"},"A224":{"name":"A224","path":"m870.00 251.00 60.00 0.00 0.00 55.00 -60.00 0.00z"},"A226":{"name":"A226","path":"m870.00 311.00 75.00 0.00 0.00 50.00 -75.00 0.00z"},"A227":{"name":"A227","path":"m950.00 311.00 75.00 0.00 0.00 50.00 -75.00 0.00z"},"A223":{"name":"A223","path":"m1025.00 191.00 -60.00 0.00 0.00 55.00 60.00 0.00z"},"A225":{"name":"A225","path":"m965.00 251.00 60.00 0.00 0.00 55.00 -60.00 0.00z"},"hall1":{"name":"Hall","path":"m390.00 386.00 110.00 0.00 0.00 45.00 -110.00 0.00z"},"escada1":{"name":"Escada 1","path":"m390.00 436.00 110.00 0.00 0.00 85.00 -110.00 0.00z"},"escada2":{"name":"Escada 2","path":"m390.72 338.04 0.00 -41.07 54.27 0.00 54.27 0.00 0.00 41.07 0.00 41.07 -54.27 0.00 -54.27 0.00 0.00 -41.07z"},"copa1":{"name":"Copa","path":"m505.00 526.00 45.00 0.00 0.00 65.00 -45.00 0.00z"},"B206":{"name":"B206","path":"m720.00 526.00 0.00 120.00 160.00 0.00 0.00 -120.00 -160.00 0.00z"},"B205":{"name":"B205","path":"m550.00 686.00 330.00 0.00 0.00 160.00 -330.00 0.00z"},"B204":{"name":"B204","path":"m390.00 686.00 155.00 0.00 0.00 160.00 -155.00 0.00z"},"B202":{"name":"B202","path":"m65.00 756.00 160.00 0.00 0.00 90.00 -160.00 0.00z"},"B201":{"name":"B201","path":"m65.00 571.00 80.00 0.00 0.00 40.00 -80.00 0.00z"},"banheiro6":{"name":"Banheiros","path":"m65.00 616.00 125.00 0.00 0.00 135.00 -125.00 0.00z"},"A207":{"name":"A207","path":"m645.96 218.49 0.00 -25.67 28.60 0.00 28.60 0.00 0.00 25.67 0.00 25.67 -28.60 0.00 -28.60 0.00 0.00 -25.67z"},"B203":{"name":"B203","path":"m230.83 765.64 0.00 -78.48 76.28 0.00 76.28 0.00 0.00 78.48 0.00 78.48 -76.28 0.00 -76.28 0.00 0.00 -78.48z"},"banheiro5":{"name":"Banheiros","path":"m575.55 563.21 0.00 -35.94 66.74 0.00 66.74 0.00 0.00 35.94 0.00 35.94 -66.74 0.00 -66.74 0.00 0.00 -35.94z"},"B201a":{"name":"B201a","path":"m65.80 545.61 0.00 -19.07 38.87 0.00 38.87 0.00 0.00 19.07 0.00 19.07 -38.87 0.00 -38.87 0.00 0.00 -19.07z"}}});

    jQuery.fn.vectorMap('addMap', 'IMD-piso-1', {"width":"1117","height":"886","paths":{"background":{"name":"Corredor","path":"m295.00 31.00l545.00 0.00l190.00 0.00l0.00 270.00l0.00 65.00l-525.00 0.00l0.00 155.00l380.00 0.00l0.00 330.00l-825.00 0.00l0.00 -330.00l215.00 0.00l0.00 -490.00l20.00 0.00z"},"A101":{"name":"A101","path":"m380.00 36.00 0.00 120.00 155.00 0.00 0.00 -120.00z"},"A102":{"name":"A102","path":"m540.00 36.00 0.00 120.00 155.00 0.00 0.00 -120.00z"},"A103":{"name":"A103","path":"m700.00 36.00 0.00 120.00 155.00 0.00 0.00 -120.00z"},"A104":{"name":"A104","path":"m860.00 36.00 0.00 120.00 155.00 0.00 0.00 -120.00z"},"A107":{"name":"A107","path":"m955.00 196.00 0.00 35.00 60.00 0.00 0.00 -35.00z"},"A109":{"name":"A109","path":"m955.00 236.00 0.00 50.00 60.00 0.00 0.00 -50.00z"},"A111":{"name":"A111","path":"m955.00 291.00 0.00 65.00 60.00 0.00 0.00 -65.00z"},"A106":{"name":"A106","path":"m855.00 196.00 0.00 50.00 60.00 0.00 0.00 -50.00z"},"A108":{"name":"A108","path":"m855.00 251.00 0.00 55.00 60.00 0.00 0.00 -55.00z"},"A110":{"name":"A110","path":"m800.00 311.00 0.00 45.00 115.00 0.00 0.00 -45.00z"},"A105":{"name":"A105","path":"m800.00 196.00 0.00 110.00 50.00 0.00 0.00 -110.00z"},"banheiro101":{"name":"Banheiro","path":"m695.00 211.00 30.00 0.00 0.00 60.00 40.00 0.00 0.00 -60.00 30.00 0.00 0.00 145.00 -100.00 0.00z"},"restaurante":{"name":"Restaurante","path":"m425.00 196.00 0.00 95.00 70.00 0.00 0.00 65.00 115.00 0.00 0.00 -160.00z"},"B119":{"name":"B119","path":"m775.00 606.00 0.00 75.00 105.00 0.00 0.00 -75.00z"},"B120":{"name":"B120","path":"m775.00 526.00 0.00 75.00 105.00 0.00 0.00 -75.00z"},"vazio101":{"name":"Vazio","path":"m775.00 686.00 0.00 75.00 105.00 0.00 0.00 -75.00z"},"vazio102":{"name":"Vazio","path":"m775.00 766.00 0.00 80.00 105.00 0.00 0.00 -80.00z"},"B115c":{"name":"B115c","path":"m720.00 696.00 0.00 150.00 50.00 0.00 0.00 -150.00z"},"B118":{"name":"B118","path":"m720.00 641.00 0.00 50.00 50.00 0.00 0.00 -50.00z"},"banheiro102":{"name":"Banheiro","path":"m135.00 751.00 0.00 30.00 -70.00 0.00 0.00 -120.00 70.00 0.00 0.00 65.00 -50.00 0.00 0.00 25.00z"},"almoxarifado101":{"name":"Almoxarifado","path":"m565.00 526.00 20.00 0.00 0.00 75.00 -20.00 0.00z"},"copa101":{"name":"Copa","path":"m505.00 526.00 55.00 0.00 0.00 65.00 -55.00 0.00z"},"B115b":{"name":"B115b","path":"m610.00 766.00 0.00 80.00 105.00 0.00 0.00 -80.00z"},"B115":{"name":"B115","path":"m465.00 766.00 0.00 80.00 140.00 0.00 0.00 -80.00z"},"B117":{"name":"B117","path":"m640.00 641.00 0.00 120.00 75.00 0.00 0.00 -120.00z"},"B116":{"name":"B116","path":"m560.00 641.00 0.00 120.00 75.00 0.00 0.00 -120.00z"},"B113":{"name":"B113","path":"m510.00 641.00 0.00 120.00 45.00 0.00 0.00 -120.00z"},"B115a":{"name":"B115a","path":"m400.00 766.00 0.00 80.00 60.00 0.00 0.00 -80.00z"},"B114":{"name":"B114","path":"m400.00 691.00 80.00 0.00 0.00 70.00 -80.00 0.00z"},"B112":{"name":"B112","path":"m335.00 701.00 60.00 0.00 0.00 -60.00 -60.00 0.00z"},"B107":{"name":"B107","path":"m305.00 786.00 0.00 60.00 90.00 0.00 0.00 -60.00z"},"B108":{"name":"B108","path":"m335.00 706.00 60.00 0.00 0.00 75.00 -60.00 0.00z"},"B106":{"name":"B106","path":"m240.00 786.00 60.00 0.00 0.00 60.00 -60.00 0.00 0.00 -60.00z"},"B105":{"name":"B105","path":"m170.00 786.00 65.00 0.00 0.00 60.00 -65.00 0.00z"},"B104":{"name":"B104","path":"m65.00 786.00 100.00 0.00 0.00 60.00 -100.00 0.00z"},"B109":{"name":"B109","path":"m235.00 706.00 70.00 0.00 0.00 60.00 -70.00 0.00z"},"B111":{"name":"B111","path":"m235.00 641.00 0.00 60.00 70.00 0.00 0.00 -60.00z"},"B101":{"name":"B101","path":"m165.00 641.00 65.00 0.00 0.00 125.00 -65.00 0.00z"},"B103":{"name":"B103","path":"m65.00 596.00 45.00 0.00 0.00 60.00 -45.00 0.00z"},"B102":{"name":"B102","path":"m65.00 526.00 75.00 0.00 0.00 65.00 -75.00 0.00z"},"banheiro105":{"name":"Banheiro","path":"m590.00 526.00 0.00 75.00 130.00 0.00 0.00 -75.00z"},"cozinha_restaurante":{"name":"Restaurante","path":"m620.00 196.00 70.00 0.00 0.00 160.00 -75.00 0.00 0.00 -160.00z"}}});


    $('#IMD-2nd-Floor').vectorMap(
      {
        map:<%=raw("\"IMD-piso-#{@floor}\"")%>,
        series: {
          regions: [{
            values: <%= raw(@map.color_hash) %>,
            attribute : 'fill'
          }]
         }
        }
      );
    });
</script>
