<%= simple_form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> impediu o salvamento desta Sala:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr>
  <div class="form-inputs">
    <%= f.input :code %>
    <%= f.input :name %>
    <%= f.input :reservable %>
    <br>
    <%= f.association :room_type, input_html: { class: 'chosen-select', data: { placeholder: "Selecione o tipo de sala" }} %></br>
    <%= f.input :capacity %>
    <%= f.association :sectors, :include_blank => false, input_html: { class: 'chosen-select', data: { placeholder: "Selecione os departamentos" }} %>
    <br>
    <%= f.association :object_resources, :include_blank => false, input_html: { class: 'chosen-select', data: { placeholder: "Selecione os recursos desta sala" }} %>
  </div>
  </br>
  <%= f.button :submit, "OK", class:"btn btn-success" %>

  <hr>
<% end %>