<tr>
  <td><%= link_to place.code, place %></td>
  <td class= "fix-colum"><%= place.name %></td>
  <td><%= link_to place.room_type.name, place.room_type %></td>
  <td>
    <% place.sectors.each do |sector| %> 
      <%= link_to sector.name, sector %>
    <%end%>

  </td>
  <td><%= place.capacity %></td>
  <td>
    <%= link_to 'Detalhes', place, class: 'btn btn-normal btn-small' %>
  </td>
</tr>