<h1>Detalhes da Sala</h1>
<%= link_to 'Editar Informações desta Sala', edit_place_path(@place), class:"btn-small btn-normal"%>


<hr>


<dl>
  <dt>Código:</dt> <dd><%= @place.code %></dd>
  <dt>Nome:</dt> <dd><%= @place.name %></dd>
  <dt>Tipo de Sala:</dt> <dd><%= link_to @place.room_type.name, @place.room_type %></dd>
  <dt>Capacidade:</dt> <dd><%= @place.capacity %></dd>
  <dt>Aceita reservas:</dt>
    <dd><% if @place.reservable? %> Sim <% else %> Não <%end%>
    </dd>
  <dt>Setor Responsável:</dt>
    <dd>
      <% @place.sectors.each do |sector| %>
        <%= link_to sector.name, sector%> </br>
      <% end %>
    </dd>
</dl>

<hr>

<h2>Objetos desta Sala</h2>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
    </tr>
  </thead>

  <tbody>
    <% unless @place.object_resources.count == 0 %>
      <% @place.object_resources.each do |object_resource| %>
        <tr>
          <td><%= link_to object_resource.name, object_resource %></td>
          <td><%= object_resource.description %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <th colspan="6">Esta sala não possui nenhum objeto.</th>
      </tr>
  <% end %>
  </tbody>
</table>

<hr>

<% if @place.reservable? %>

  <h2>Reservas Simples desta Sala</h2>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Data</th>
        <th>Início</th>
        <th>Fim</th>
        <th>Solicitante</th>
        <th>Conflita?</th>
        <th>Situação</th>
        <th>Autorizado</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <% unless @reservations.count == 0 %>
        <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.date %></td>
            <td><%= reservation.begin_time %></td>
            <td><%= reservation.end_time %></td>
            <td><%= reservation.user %></td>
            <td><%= reservation.has_conflicts? %></td>
            <td><%= reservation.status %></td>
            <td><%= reservation.responsible %></td>
            <td><%= link_to 'Detalhes', reservation,  class: "btn-small btn-normal" %></td>
          </tr>
      <%end%>
      <% else %>
        <tr>
          <th colspan="6">Esta sala não possui nenhuma reserva.</th>
        </tr>
    <% end %>
    </tbody>
  </table>

  <h2>Reservas Múltiplas desta Sala</h2>

  <% unless @reservation_groups.length ==0 %>


    <%= render @reservation_groups %>
  <%else%>
    <p>Não existem reservas deste tipo</p>
  <% end %>


  <div class="clear">

<%end%>

<%= render 'shared/back'%>
