<h1>Detalhes da Sala</h1>
<%= link_to 'Editar Informaçõees desta Sala', edit_place_path(@place), class:"btn-small btn-primary"%> 


<hr>


<dl>
  <dt>Código:</dt> <dd><%= @place.code %></dd>
  <dt>Nome:</dt> <dd><%= @place.name %></dd>
  <dt>Tipo de Sala:</dt> <dd><%= link_to @place.room_type.name, @place.room_type %></dd>
  <dt>Capacidade:</dt> <dd><%= @place.capacity %></dd>
  <dt>Departamento Responsável:</dt> 
    <dd>
      <% @place.sectors.each do |sector| %>
        <%= link_to sector.name, sector%> </br>
      <% end %> 
    </dd>
</dl>

<%= render 'shared/back'%>